nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.about-body {
    background: black;
    color: white;
}

